body{
}
h1{
    color: rgb(255,255,255);
    text-align: center;
    background-color: #8A5FBA;
    height: auto;
}
div.sinistra{
    position: fixed;
    float: left;
    width: 150px;
    height: auto; 
    border: 2px solid black; 
    background-color: #5C3E6B;
    overflow-y: auto;
}
div.main{
    flex: 1;
    margin-left: 150px;
    padding: 10px;
    background-color: gray;
}